<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}" type="text/css" media="screen"/>
<!--  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>  -->
<!-- This was replaced by the above <link rel="stylesheet" href="{{site.baseurl}}css/screen.css" type="text/css" media="screen"/> --> 
  <!-- the following links are need for dropdown.js  -->

  <link rel="stylesheet" href="//getbootstrap.com/dist/css/bootstrap.min.css" type="text/css" media="screen">  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript" language="javascript"> $(document).ready(function() { $('.dropdown-toggle').dropdown(); }); </script>

  <!--[if lte IE 9]>
    <script src="{{ site.baseurl}}js/respond.min.js"></script>
  <![endif]-->
  <script src="{{ site.baseurl}}js/dropdown.js"></script>
</head>
